* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  user-select: none;
}

body {
  overflow: hidden;
  background: var(--body-background);
}

#map {
  width: 100vw;
  height: 100vh;
  background: var(--body-background) repeat;
  transition: opacity .5s ease-in-out;

  &.loading {
    opacity: 0;

    * {
      pointer-events: none;
    }
  }
}

.leaflet-grab {
  cursor: crosshair;
}

.leaflet-dragging .leaflet-grab {
  cursor: grabbing;
}

img.leaflet-tile {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  border: 0 !important;

  /* See: https://github.com/GoogleChrome/lighthouse/issues/15497#issuecomment-2047385179 */
  mix-blend-mode: color-dodge !important;
}
